<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to image_tag("nebula_logo.png"), cocktails_path, :class => 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Cocktails List', cocktails_path, :class => 'nav-link' %>
      </li>
      <li>
        <%= link_to 'Add a cocktail', new_cocktail_path, :class => 'nav-link'%>
      </li>
    </ul>
  </div>
</div>

<div class="bordered-title">
  <div class="d-flex justify-content-between">
    <h1 class="cocktail-show"> <%= @cocktail.name %>
      <h2 id="new-dose"><%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: 'fas fa-plus' %>
      </h2>
    </h1>

  </div>
</div>

<div class="container">
    <div class="d-flex justify-content-between">
        <%= cl_image_tag(@cocktail.photo, class: 'show-card-category' ) %>
        <div class="cocktail-details">
          <div>
          </div class="d-flex flex-column bd-highlight mb-3">
            <h2 class="p-2 bd-highlight"> Doses and Ingredients: </h2>
              <% @cocktail.doses.each do |dose| %>
            <div id="dose-div">
              <p class="dose-desc">
                <%= dose.description %>
              </p>
              <p class="dose-ingredient">
                <%= dose.ingredient.name%>
              </p>
              <h3 id="delete-dose-link"> <%= link_to '', cocktail_dose_path(@cocktail, dose.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'fas fa-trash' %></h3>
            </div>
              <% end %>
        </div>
    </div>
</div>





