<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to image_tag("nebula_logo.png"), cocktails_path, :class => 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Cocktails List', cocktails_path, :class => 'nav-link' %>
      </li>
      <li>
        <%= link_to 'Add a cocktail', new_cocktail_path, :class => 'nav-link'%>
      </li>
    </ul>
  </div>
</div>

<div class="bordered-title">
  <div class="d-flex justify-content-center">
    <h1 class="cocktail-show"> <%= @cocktail.name %> </h1>
  </div>
</div>

<div class="d-flex justify-content-around">
  <%= cl_image_tag(@cocktail.photo, :class => 'cocktail-image-format') %>
      <h2><%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: 'fas fa-plus' %> </h2>
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <ul> Doses: <% @cocktail.doses.each do |dose| %>
            <li>
              <%= dose.description %>
            </li>
          </ul>
          <% end %>
        </div class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <ul> Ingredients <% @cocktail.doses.each do |dose| %>
              <li>
                <%= dose.ingredient.name %>
              </li>
            </ul>
              <% end %>
          </div>
      </div>
</div>



