
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 mt-3">
      <h1>Add a dose to <%= @cocktail.name %></h1>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description%>
        <%= f.association :ingredient %>
        <%= f.submit "Submit", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
